* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

.list {
  margin-bottom: 200px;
}

.intro_vid {
  padding: 200px;
  margin-bottom: 100px;
  justify-content: space-between;
}

.anim {
  float: right;
  width: 70%;
  align-self: auto;
}

.hi {
  padding-top: 200px;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 40px;
}

nav ul li a {
  text-decoration: none;
  color: #dc076b;
  font-size: 16px;
}

.content {
  text-align: center;
  color: #000000;
  text-align: left;
  margin-top: 400px;
  line-height: 40px;
  margin-right: 1200px;
}

.content a {
  text-decoration: none;

  display: inline-block;
  color: #dc076b;
}
.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -2;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100;
  }
}

.container {
  padding: 10px 10%;
}

.title-text {
  font-size: 18px;
}
.header-text {
  margin-top: 05%;
  font-size: 30px;
}

.header-text h3 {
  font-size: 40px;
  margin-top: 00px;
}

.header-text h3 span {
  color: #000000;
}

.paragraph {
  font-size: 28px;
  font-style: italic;
  font-weight: 100;
  margin-top: 02%;
  color: #000000;
}

.paragraph1 {
  color: #ffffff;
  font-style: normal;
}
/* 
</--------------About------------------  */
#about {
  padding: 100px 100px;
  background-color: #f8f8fc;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 40%;
}
.about-col-1 img {
  width: 100%;
}

about-col-2 {
  flex-basis: 60;
}
.sub-title {
  font-size: 28px;
  font-weight: 700;
  color: #dc076b;
}
