*{
    margin:  0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}
body{
    background: #ffffff;
    
}
#header{
  
  width: 1000px;
  height: 1000px;
  background-image: url(Images/Pre_Historic\ Man.png);
  background-size: cover;
  background-position: center;


}
