body {
  background-image: url(Images/Pre_Historic\ Man.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-section {
  margin-top: 200px;
  margin-left: 200px;
  font-size: 28px;
}
